.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0rem 0rem 0rem 0rem;
  
    mat-toolbar {
      display: flex;
      justify-content: space-between;
    }
  
    .spacer {
      flex: 1 1 auto;
    }

    .nav-links {
        a {
            padding: 0rem 0rem 0rem 1rem;
        }
    }
}