<div class="container">
    <mat-toolbar color="primary">
        <img src="public/icons/candle_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg" />
        <span>Candlelight Mod Repository</span>
        <span class="spacer"></span>
        <nav class="nav-links">
            <button mat-raised-button color="primary" routerLink="/"><mat-icon fontIcon="home" /> Home</button>
            <button mat-raised-button color="primary" routerLink="/games"><mat-icon fontIcon="games" /> Browse Games</button>
            <button mat-raised-button color="primary" routerLink="/favourite-games"><mat-icon fontIcon="favorite_border" />Favourite Games</button>
            <button mat-raised-button color="primary" routerLink="/favourite-mods"><mat-icon fontIcon="favorite_border" /> Favourite Mods</button>
            <button mat-raised-button color="primary" routerLink="/upload"><mat-icon fontIcon="file_upload" /> Upload Mod</button>
        </nav>
    </mat-toolbar>
</div>