mat-toolbar {
    padding: 1rem;
    justify-content: space-between;
    color: "primary";
    background-color: "secondary";
    nav a {
      color: "secondary";
      margin-left: 1rem;
    }

    .text {
      font-size: 0.75rem;
      color: #ff8c00;
    }

    .spacer {
      flex: 1 1 auto;
    }
  
    @media (max-width: 600px) {
      flex-direction: column;
      text-align: center;
  
      nav a {
        margin: 0.5rem 0;
      }
    }
}