<div class="container">
  <mat-toolbar>
    <img src="../../public/icons/candle-icon.svg" alt="🕯️" />
    <span class="title">Candlelight Mod Repository</span>
    <span class="spacer"></span>

    <nav class="nav-links">
      <!-- Always visible -->
      <button mat-raised-button routerLink="/">
        <mat-icon fontIcon="home"></mat-icon> Home
      </button>
      <button mat-raised-button routerLink="/games">
        <mat-icon fontIcon="games"></mat-icon> Browse Games
      </button>

      <!-- Logged-in user options -->
      <ng-container *ngIf="isLoggedIn">
        <button mat-raised-button routerLink="/profile/{{ this.currentUserId }}/favourite-games">
          <mat-icon fontIcon="favorite_border"></mat-icon> Favourite Games
        </button>
        <button mat-raised-button routerLink="/profile/{{ this.currentUserId }}/favourite-mods">
          <mat-icon fontIcon="favorite_border"></mat-icon> Favourite Mods
        </button>
        <button mat-raised-button routerLink="/upload">
          <mat-icon fontIcon="file_upload"></mat-icon> Upload Mod
        </button>
        <button mat-icon-button [disableRipple]="true" [routerLink]="['/profile', currentUserId]" class="profile-button" matTooltip="Profile">
          <img crossorigin="anonymous" [src]="userProfilePictureLink" alt="Profile" class="profile-icon" />
        </button>
      </ng-container>

      <!-- Unlogged user options -->
      <ng-container *ngIf="!isLoggedIn">
        <button mat-raised-button routerLink="/login">
          <mat-icon fontIcon="login"></mat-icon> Login
        </button>
        <button mat-raised-button routerLink="/register">
          <mat-icon fontIcon="person_add"></mat-icon> Register
        </button>
      </ng-container>
    </nav>
  </mat-toolbar>
</div>
