.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  .mod-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    width: 100%;
  }

  .controls {
    display: flex;
    gap: 1rem;
  }
}
