<ng-container class="container">
    <mat-card class="form-card">
        <h2 class="title">Add a Custom Game</h2>
        <form class="form" [formGroup]="form" (ngSubmit)="submit()">
            <mat-form-field class="form-field">
                <input matInput placeholder="Game Name" formControlName="name" required>
            </mat-form-field>

            <mat-form-field class="form-field">
                <textarea matInput placeholder="Description" formControlName="description"></textarea>
            </mat-form-field>

            <mat-form-field class="form-field">
                <input matInput placeholder="Developer" formControlName="developer">
            </mat-form-field>

            <mat-form-field class="form-field">
                <textarea matInput placeholder="Publisher" formControlName="publisher"></textarea>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Cover Image</mat-label>
                <input
                    type="file"
                    (change)="onFileSelected($event)"
                    class="file-input"
                    #fileInput
                    hidden
                />
                <input
                    matInput
                    [placeholder]="'Choose a file...'"
                    [value]="selectedFileName"
                    readonly
                    (click)="fileInput.click()"
                />
                <button mat-icon-button matSuffix (click)="fileInput.click()" type="button">
                    <mat-icon>upload</mat-icon>
                </button>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" class="form-field">Add Game</button>
        </form>
    </mat-card>
</ng-container>