<div class="container">
  <div class="title">Login</div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
     <mat-form-field class="form-row">
      <mat-label>Email</mat-label>
      <input
        matInput
        id="userEmail"
        formControlName="userEmail"
        type="email"
      />
      <mat-error
        *ngIf="
          loginForm.get('userEmail')?.invalid  &&
          loginForm.get('userEmail')?.touched
        "
      >
        Invalid email address.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-row">
      <mat-label>Password</mat-label>
      <input
        matInput
        id="passwordString"
        formControlName="passwordString"
        type="password"
      />
    </mat-form-field>
    <div class="form-row">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
    </div>
    <div class="form-row">
      <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
    </div>
  </form>
</div>
