mat-tab-group {
  margin: 0 auto;
}

mat-tab-header {
  margin-bottom: 1rem;
}

mat-tab-body {
  padding: 1rem;
  background-color: #1e1e1e;
  border-radius: 1.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
