<div class="container full-height">
  <section class="hero mat-elevation-z4">
    <h2>Discover and Share Mods</h2>
    <p>Explore the latest mods for your favorite games or upload your own creations.</p>
    <nav>
      <div class="button-group">
        <button mat-raised-button routerLink="/games"><mat-icon fontIcon="games"></mat-icon>Browse Games</button>
        <button mat-raised-button><mat-icon fontIcon="upload"></mat-icon>Upload Mod</button>
      </div>
    </nav>
  </section>

  <section class="features">
    <mat-card class="feature-card mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>Huge Selection</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Thousands of mods available across multiple categories.</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="feature-card mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>Easy Uploads</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Seamless and quick mod upload system.</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="feature-card mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>Robust Versioning System</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Multiple versions? No problem - choose to your heart's content.</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="feature-card mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>Community Driven</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Join the modding community and enhance your gaming experience.</p>
      </mat-card-content>
    </mat-card>
  </section>

  <section class="account">
    <mat-card class="feature-card mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>Ready to get started?</mat-card-title>
      </mat-card-header>
      <button mat-raised-button routerLink="/register"><mat-icon fontIcon="person_add"></mat-icon>Register</button>
    </mat-card>

    <mat-card class="feature-card mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>Already have an account?</mat-card-title>
      </mat-card-header>
      <button mat-raised-button routerLink="/login"><mat-icon fontIcon="login"></mat-icon>Login</button>
</mat-card>
  </section>
</div>
