:host {
  overflow-y: hidden;
  color: #ff8c00;
}

.container {
  max-width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  height: 100%;
  background-color: #232323;
  .hero {
    text-align: center;
    margin: 2.5rem;
    padding: 2.5rem;
    border-radius: 0.625rem;
    background-color: #363636;

    h2 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 1.25rem;
    }

    .button-group {
      button {
        margin: 0 0.625rem;
      }
    }
  }

  .features {
    display: flex;
    justify-content: space-around;
    margin: 2.5rem 0;
    background-color: #232323;

    .feature-card {
      width: 20%;
      padding: 1.25rem;
      background-color: #363636;

      mat-card-header {
        text-align: center;
        background-color: #363636;
        margin-bottom: 1rem;
      }

      mat-card-title {
        font-size: 1.5rem;
        background-color: #363636;
      }

      mat-card-content {
        p {
          font-size: 1rem;
          background-color: #363636;
        }
      }
    }
  }

  .account {
    display: flex;
    justify-content: space-around;
    margin: 2.5rem 0;
    background-color: #232323;

    .feature-card {
      width: 40%;
      padding: 1.25rem;
      background-color: #363636;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; 
      
      mat-card-header {
        text-align: center;
        background-color: #363636;
      }

      mat-card-title {
        font-size: 1.5rem;
        background-color: #363636;
      }

      mat-card-content {
        p {
          font-size: 1rem;
          background-color: #363636;
        }
      }

      button {
        width: 15%;
        margin: 1.5rem 0.625rem;
      }
    }
  }
}